This notebook serves the purpose of testing pandas and os code for application to automating doc creation through genering dicts

In [13]:
import pandas as pd

In [14]:
data = pd.read_csv('template-data.csv')
data.head()

,name,Company_umbrella,Company,Location,job,type,type.1,title
0,Max,Frauenhofer,IKS,Darmstadt,Praktikant,NaN,NaN,NaN
1,Julia,Frauenhofer,Ips,Darmstadt,Werkstudent,NaN,NaN,NaN
2,Sam,Frauenhofer,Ilk,Darmstadt,HiWi,NaN,NaN,NaN
3,Bill,Frauenhofer,akj,Darmstadt,Tutor,NaN,NaN,NaN
4,Ludqig,Frauenhofer,ahb,Darmstadt,Praktikant,NaN,NaN,NaN

In [16]:
data.loc[0,'name']

'Max'

In [21]:
len(data)

5

In [23]:
for i in range(len(data)):
    print(i)

0
1
2
3
4

In [24]:
import os

In [25]:
cwd = os.getcwd()
cwd

'/Users/amitavchrismostafa/automate-coverletter'